* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 183, 0);
}
.mur {
  text-align: right;
  margin-left: 75px;
  border: radius 100px;
  width: 90px;
  height: 90px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 80px;
}
.ddd {
  background-color: rgb(223, 59, 59);
  padding: 20px;
  text-align: center;
  font-size: 40px;
  margin-bottom: -80px;
}

.bcd {
  margin-left: 30px;
}
.cry {
  margin-bottom: 30px;
}

.cr {
  margin-bottom: 30px;
}

.rasmr {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 25px;
}
.bcd {
  background-color: white;
  width: 250px;
  height: 468px;
  border-radius: 20px;
}
.cr {
  text-align: center;
}
.cry {
  text-align: center;
  text-decoration: none;
}
.mu {
  text-align: center;
}
.bbb {
  background-color: rgb(3, 2, 1);
  padding: 20px;
  text-align: center;
  font-size: 40px;
  margin-top: 80;
  color: rgb(223, 59, 59);
}
